{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container pt-3">
    <div class="clearfix text-center">
        <a class="btn btn-outline-primary w-25" href="{% url 'calendar' %}?{{ prev_month }}"> <- </a>
        <a class="btn btn-primary w-25" href="{% url 'event' %}?{{ next_month }}"> + </a>
        <a class="btn btn-outline-primary w-25" href="{% url 'calendar' %}?{{ next_month }}"> -> </a>
    </div>

    <div class="pt-2">
        {{ calendar }}
    </div>
</div>

{% endblock %}
