{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-3 ">
    <div class="clearfix text-center">
        <a class="btn btn-primary w-25" href="{% url 'create_event_on_date' date=date %}"> + </a>
    </div>

    <h3 class='mt-3 text-center'> {{ events.first.date }} </h3>

    <div class="mt-5">
        {% for event in events.all %}
            <div class='mb-5'>
                <h4 class="d-flex justify-content-between">
                    <a href="{% url 'patient' pid=event.patient.pk %}" type="button " class="btn-link">{{ event.patient }}</a>
                    <form action='{% url 'edit_event' eid=event.pk %}'>
                        <input class="btn btn-success" type="submit" value="Edit" />
                    </form>
                </h4>
                <hr>
                
                <p> Процедуры:
                    {% for procedure in event.procedures.all %}
                        <h3> {{ procedure }} </h3>
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
