{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-3 ">
    <div class="clearfix text-center">
        <a class="btn btn-primary w-25" href="{% url 'create_event_on_date' date=date %}"> + </a>
    </div>

    <h3 class='mt-3 text-center'> {{ events.first.date }} </h3>

    <div class="mt-5">
        {% for event in events.all %}
            <div class='mb-4 bg-light p-3'>
                
                <h4 class="d-flex justify-content-between">
                    <a href="{% url 'patient' pid=event.patient.pk %}" type="button " class="btn-link">{{ event.patient }}</a>
                    <form action='{% url 'edit_event' eid=event.pk %}'>
                        <input class="btn btn-success" type="submit" value="Edit" />
                    </form>
                </h4>
                <hr>
                
                <h6 class="text-secondary">Процедуры
                    {% for procedure in event.procedures.all %}
                        <a href="{% url 'edit_procedure' pid=procedure.pk %}" type="button " class="btn btn-outline-secondary">{{ procedure.title }}</a>
                    {% endfor %}
                </h6>

                <h6 class="text-secondary">Препарат
                    <p class="text-dark">{{ event.medication }}</p>
                </h6>

                <h6 class="text-secondary">Область
                    <p class="text-dark">{{ event.body_area }}</p>
                </h6>

                <h6 class="text-secondary">Заметки
                    <p class="text-dark">{{ event.notes }}</p>
                </h6>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
