{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-3 ">
    <div class="clearfix text-center">
        <a class="btn btn-primary w-25" href="{% url 'create_patient' %}"> + </a>
    </div>

    <div class="mt-4 ">
        <a class="p-2 text-dark font-weight-bold" href="{% url 'patients' %}">Новые</a>
        <a class="p-2 text-dark" href="{% url 'patients' %}">Недавние</a>
        <hr>
    </div>

    <div class="row mt-2">
        <div class="col-8">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-4 ">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
    </div>

    <div class="mt-4">
        {% for patient in patients.all %}
            <a href="{% url 'patient' pid=patient.pk %}" type="button " class="btn btn-outline-secondary mb-1 ">{{ patient.name }}</a>
        {% endfor %}
    </div>
</div>

{% endblock %}
